set $mod Mod4

include $HOME/.config/sway/config.d/variables.conf
include $HOME/.config/sway/config.d/keymaps.conf
include $HOME/.config/sway/config.d/appearance.conf
include $HOME/.config/sway/config.d/inputs.conf
include $HOME/.config/sway/config.d/custom-keymap.conf
include $HOME/.config/sway/modes.d/*.conf

exec lxpolkit
