[Unit]
Description=Push changes from vnotes to git
After=network-online.target

[Service]
Type=oneshot
WorkingDirectory=%h/vnotes
ExecStart=/usr/bin/bash -c 'git add . && git diff-index --quiet HEAD || git commit -m "Auto-commit: $(date)" && git push'

[Install]
WantedBy=default.target
