[Unit]
Description=SSH Key Agent
Documentation=man:ssh-agent(1) man:ssh-add(1)

[Service]
Type=simple
# %t resolves to /run/user/<userid>
Environment=SSH_AUTH_SOCK=%t/ssh-agent.socket
ExecStart=/usr/bin/ssh-agent -D -a $SSH_AUTH_SOCK
# CRITICAL FIX: Wait for the socket to be created before running ssh-add
ExecStartPost=/bin/bash -c "while [[ ! -S $SSH_AUTH_SOCK ]]; do sleep 0.1; done"
ExecStartPost=/usr/bin/ssh-add %h/.ssh/id_ed25519
ExecStop=kill $MAINPID

[Install]
WantedBy=default.target
