[defaults]
inventory = inventory.yml
roles_path = roles
host_key_checking = False
stdout_callback = default
result_format = yaml
nocows = True
interpreter_python = auto_silent

[ssh_connection]
pipelining = True
